.App {
  
  /* background-color: #b7f2e2; */
  min-height:100vh;
 
}
.row{
  min-height: 100vh;
}

.infocol{
  background-color: #b7f2e2 ;
}

.Header {
  font-size: 80px;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 21%;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;
  color: black;
  
}
.Text{
  font-size: 30%;
  font-family:'Courier New', Courier, monospace;
  color: black;
}
.img{
  margin-top: 10%;
  margin-left: 30%;
  width: 380px;
  height: 40vh;
}
.button{
  width: 200px;
  height: 65px;
  background-color: black;
  font-size: 25px;
  color: white;
  margin-top: 10%;
  margin-left: 30%;
}
.info{
  margin-left: auto ;
  margin-right: auto;
  margin-top: 20%;
  font-family: 'Courier New', Courier, monospace;
  font-size:xx-large;
  width: 80%;
}
/* .loginbtn{
  align-self: center;
} */
/* .column{
  min-height: 100vh;
  background-color: #b7f2e2 ;
} */

.App-link {
  color: #61dafb;
}
.login-form {
  background: #fff;
  padding: 10px 5%;
  border-radius: var(--border-radius);
}

.login-form h1 {
  font-size: 30px !important;
}

.reset-password-section {
  background-color: #fff;
  padding: 15px 5%;
  border-radius: var(--border-radius);
}

